.github-button {
  display: inline-block;
  background-color: #24292e; /* Color de fondo de GitHub */
  color: #ffffff; /* Color de texto blanco */
  text-decoration: none; /* Sin subrayado */
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
}

.github-button:hover {
  background-color: #444d56; /* Color de fondo al pasar el ratón */
}

/* Guardado de lienzos*/

.nombre-lienzo-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.guardar-lienzo-btn {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.guardar-lienzo-btn:hover {
  background-color: #45a049;
}

.carrusel-lienzos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.lienzo-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.lienzo-nombre {
  font-size: 14px;
  margin-bottom: 10px;
}

.cargar-lienzo-btn,
.eliminar-lienzo-btn {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.cargar-lienzo-btn {
  background-color: #008CBA;
  color: white;
}

.cargar-lienzo-btn:hover {
  background-color: #007bb5;
}

.eliminar-lienzo-btn {
  background-color: #f44336;
  color: white;
}

.eliminar-lienzo-btn:hover {
  background-color: #da190b;
}

/* EditorArtePixelado.css */

.editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  min-height: 100vh;
}

.control-tamanio-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1001;
  cursor: pointer;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-tamanio-container {
  position: absolute;
  top: 55px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
}

.control-conversor-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1001;
  cursor: pointer;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-conversor-container {
  position: absolute;
  top: 65px;
  right: 10px;
  z-index: 1000;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.header {
  color: #333;
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  align-items: flex-start;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-preview {
  width: 210px;
  height: 225px;
  object-fit: contain;
  border-radius: 10px;
  border: 2px solid #ccc;
}